
/*
#pagination-block:active {
	background-color: #181818;
    border: 2px solid #cb8670;
}
*/


#pagination-block {
	background: none !important; 
	color: none !important;
	border-color: none !important;
}
.page-link {
	background: none !important; 
	color: none !important;
	border-color: none !important;
	color: #fff!important;
	background: #cb8670 !important; 

}
.page-item {
	background-color: #cb8670!important; 
    border: 2px solid #cb8670!important; 
    color: #fff;

} 

#page-item {
	background: #cb8670!important; 
	color: #fff!important;
	border-color: none !important;
}
.page-item.active {
	border-color: #fff !important;
}

.active {
	background-color: #181818 !important;
    border: 2px solid #cb8670 !important;
}
/* Bascket */
.basket {
	vertical-align: middle; 
	text-align: center;
}

.basket-a {
	padding: 5px;
}
.basket-a img {
	float: left;
	padding: 5px;
}

.basket-span {
	background: #cb8670;
    width: 18px;
    display: block;
    height: 18px;
    font-size: 10px;
    border-radius: 50%;
    line-height: 2;
    float: left;

}